
<li>
  <div class="collapsible-header nsp-grey lighten" style="overflow:auto;">
    <div class="title-block">
      <div class="nsp-text text-title story-title truncate-inline" style="width:75%"></div>
      <div class="secondary-content story-action-buttons">
	<a href="#!" class="waves-effect waves-nsp-red btn-small nsp epepisode-story-delete tooltipped" data-tooltip="Remove this story">
	  <i class="small material-icons md-light option-add">delete</i>
	</a>
	<a href="#!" class="waves-effect waves-nsp-red btn-small nsp epepisode-story-edit tooltipped" data-tooltip="Edit this story">
	  <i class="small material-icons md-light option-jumpto">settings</i>
	</a>
      </div>
      <br>
    </div>
  </div>
  <div class="collapsible-body nsp-grey nsp-text" style="padding: 1rem 2rem; background-color:#FFFFFF;">
    <hr>
    <div class="story-detail-tags valign-wrapper">
      <span class="material-icons valign" style="display:inline-block;">label_outline</span>
      <div class="tags-block valign" style="display:inline-block;"></div>
    </div>
    <hr>
    <div class="writernarrator-heading story-web-link center-align" style="display:none;">
      <a href="#!" class="waves-effect waves-nsp-red btn nsp story-weblink-action tooltipped" data-tooltip="View story in browser">
	View in Browser
      </a>
    </div>
    <div class="writernarrator-heading">Written by:</div>
    <div class="writernarrator-block story-writers"></div>
    <div class="writernarrator-heading">Read by:</div>
    <div class="writernarrator-block story-narrators"></div>
  </div>
</li>
