
<div class="card nsp-grey">
  <div class="title-block">
    <div>
      <span class="card-title nsp-grey-text text-lighten story-detail-title" style="display:inline;"></span>
      <div class="secondary-content" style="display:inline;">
	<a href="#!" class="waves-effect waves-nsp-red btn-flat-nsp story-action story-action-queue">
	  <i class="small material-icons md-light option-add">queue_music</i>
	  <i class="small material-icons md-light option-remove" style="display:none;">clear_all</i>
	</a>
      </div>
    </div>
  </div>
</div>
