
<div id="entity_id" style="display:none;" data-id=""></div>
<!-- On large display only: Image to the left with controls under it. Episode title to the right -->
<div class="hide-on-med-and-down valign-wrapper">
  <div class="episode-control-container">
    <img src="images/nsp_logo.png" class="episode-detail-image" >
    <div class="center-align">
      <a href="#!" class="waves-effect waves-nsp-red btn-flat nsp-action episode-action-queue episode-action tooltipped" data-tooltip="Add whole episode to the playlist">
	<span class="material-icons option-add">queue_music</span>
	<span class="material-icons option-remove" style="display:none;">clear_all</span>
      </a>
      <a href="#!" class="waves-effect waves-nsp-red btn-flat nsp-action episode-action-play episode-action tooltipped" data-tooltip="Play entire episode">
	<span class="material-icons option-play">play_arrow</span>
	<span class="material-icons option-pause" style="display:none;">pause</span>
      </a>
      <a href="#!" class="waves-effect waves-nsp-red btn-flat nsp-action episode-action-download episode-action tooltipped" data-tooltip="Download episode">
	<span class="material-icons option-download">import_export</span>
	<span class="material-icons option-delete" style="display:none;">delete</span>
      </a>
    </div>
  </div>
  <div class="valign" style="display:inline-block;">
    <h3 class="episode-detail-title nsp-text text-title"></h3>
  </div>
</div>
<!-- On med and small displays: Image, episode title, and controls all centered (in that order). -->
<div class="hide-on-large-only">
  <div class="center-align" >
    <img src="images/nsp_logo.png" class="episode-detail-image" >
  </div>
  <h5 class="truncate episode-detail-title center-align"></h5>
  <div class="center-align">
    <a href="#!" class="waves-effect waves-nsp-red btn-flat nsp-action episode-action-queue episode-action tooltipped" data-tooltip="Add whole episode to the playlist">
      <span class="material-icons option-add">queue_music</span>
      <span class="material-icons option-remove" style="display:none;">clear_all</span>
    </a>
    <a href="#!" class="waves-effect waves-nsp-red btn-flat nsp-action episode-action-play episode-action tooltipped" data-tooltip="Play entire episode">
      <span class="material-icons option-play">play_arrow</span>
      <span class="material-icons option-pause" style="display:none;">pause</span>
    </a>
    <a href="#!" class="waves-effect waves-nsp-red btn-flat nsp-action episode-action-download episode-action tooltipped" data-tooltip="Download episode">
      <span class="material-icons option-download">import_export</span>
      <span class="material-icons option-delete" style="display:none;">delete</span>
    </a>
  </div>
</div>
<!-- Rest of the episode information -->
<hr>
<div class="episode-detail-tags valign-wrapper">
  <div class="tags-heading valign">
    <a href="#!" class="waves-effect waves-nsp-red btn-small nsp episode-tags-edit-action tooltipped" data-tooltip="Tags (click to edit)">
      <span class="material-icons">label_outline</span>
    </a>
  </div>
  <div class="tags-block valign"></div>
  <div class="tags-editor valign input-field" style="display:none;">
    <input type="text" placeholder="Tags (comma Separated)">
  </div>
</div>
<hr>
<p class="episode-detail-description flow-text"></p>
<hr>
<ul class="episode-detail-story-list collapsible popout" data-collapsible="accordion"></ul>
