
<div id="entity_id" style="display:none;" data-id=""></div>
<div class="center-align" >
  <img src="images/nsp_logo.png" class="episode-detail-image" >
</div>
<h5 class="truncate episode-detail-title"></h5>
<div class="center-align">
  <a href="#!" class="waves-effect waves-nsp-red btn-flat episode-addtoplaylist episode-action">
    <span class="material-icons option-add">queue_music</span>
    <span class="material-icons option-remove" style="display:none;">clear_all</span>
  </a>
  <a href="#!" class="waves-effect waves-nsp-red btn-flat episode-play episode-action">
    <span class="material-icons option-play">play_arrow</span>
    <span class="material-icons option-pause" style="display:none;">pause</span>
  </a>
  <a href="#!" class="waves-effect waves-nsp-red btn-flat episode-download episode-action">
    <span class="material-icons option-download">import_export</span>
    <span class="material-icons option-delete" style="display:none;">delete</span>
  </a>
</div>
<hr>
<div class="left chip-tags"></div>
<p class="episode-detail-description"></p>
<hr>
