
<li>
  <div class="collapsible-header nsp-grey lighten" style="overflow:auto;">
    <div class="title-block">
      <div class="nsp-text text-title story-detail-title truncate-inline" style="width:75%"></div>
      <div class="secondary-content story-action-buttons" style="display:none;">
	<a href="#!" class="waves-effect waves-nsp-red btn-small nsp story-action story-action-queue tooltipped" data-tooltip="Add/Remove Story from playlist queue.">
	  <i class="small material-icons md-light option-add">queue_music</i>
	  <i class="small material-icons md-light option-remove" style="display:none;">clear_all</i>
	</a>
	<a href="#!" class="waves-effect waves-nsp-red btn-small nsp story-action story-action-jumpto tooltipped" data-tooltip="Play Story">
	  <i class="small material-icons md-light option-jumpto">play_circle_outline</i>
	  <i class="small material-icons md-light option-play" style="display:none;">play_circle_filled</i>
	  <i class="small material-icons md-light option-pause" style="display:none;">pause_circle_filled</i>
	</a>
      </div>
      <br>
    </div>
  </div>
  <div class="collapsible-body nsp-grey nsp-text" style="padding: 1rem 2rem; background-color:#FFFFFF;">
    <hr>
    <div class="story-detail-tags valign-wrapper">
      <div class="tags-heading valign">
	<a href="#!" class="waves-effect waves-nsp-red btn-small nsp story-tags-edit-action tooltipped" data-tooltip="Tags (click to edit)">
	  <span class="material-icons">label_outline</span>
	</a>
      </div>
      <div class="tags-block valign"></div>
      <div class="tags-editor valign input-field" style="display:none;">
	<input type="text" placeholder="Tags (comma Separated)">
      </div>
    </div>
    <hr>
    <div class="writernarrator-heading story-web-link center-align" style="display:none;">
      <a href="#!" class="waves-effect waves-nsp-red btn nsp story-weblink-action tooltipped" data-tooltip="View story in browser">
	Read In Your Browser
      </a>
    </div>
    <div class="writernarrator-heading">Written by:</div>
    <div class="writernarrator-block story-detail-writers"></div>
    <div class="writernarrator-heading">Read by:</div>
    <div class="writernarrator-block story-detail-narrators"></div>
  </div>
</li>
