
<li>
  <div class="collapsible-header nsp-grey lighten nsp-text text-title" style="overflow:auto;">
    <img src="" class="left episode-entry-image" height="64px" style="width:auto; margin:0.2rem 0.5rem 0.5rem 0.1rem;">
    <span class="truncate-inline episode-entry-title"></span>
  </div>
  <div class="collapsible-body nsp-grey darken nsp-text" style="background-color:#FFFFFF;">
    <p class="episode-entry-description"></p>
    <hr class="episode-editor-item">
    <a href="#!" class="waves-effect waves-nsp-red btn nsp episode-editor-item episode-editor-action" style="margin-top: -8px">
      <i class="small material-icons md-light">settings</i> Edit
    </a>
  </div>
</li>
