
<div class="card-panel filter-item">
  <div class="filter-item-header nsp-grey left-align" style="height:1.5em; width:100%;">
    <span class="title-block title-larger nsp-grey-text text-lighten">Filter By:</span>
    <a href="#!" class="waves-effect waves-nsp-red btn-small-nsp filter-item-action tooltipped" data-tooltip="Remove Filter">
      <i class="small material-icons md-light">clear_all</i>
    </a>
  </div>
  <div class="input-field filter-type">
    <select>
      <option value="tag" selected>Tag</option>
      <option value="story">Story</option>
      <option value="writer">Writer</option>
      <option value="narrator">Narrator</option>
    </select>
  </div>
  <div class="input-field filter-value-tag">
    <input placeholder="Comma seperated tag list" type="text">
  </div>
  <div class="input-field filter-value-person" style="display:none;">
    <select>
      <option value="" disabled selected>Select Person</option>
    </select>
  </div>
</div>
