
<li class="collection-item blue-grey darken-1 player-track">
  <div>
    <span class="track-title truncate-inline" style="width:75%"></span>
    <div class="secondary-content" style="display:inline;">
      <a href="#!" class="waves-effect waves-nsp-red btn-flat-nsp track-action track-action-clear">
	<i class="small material-icons md-light">clear_all</i>
      </a>
      <a href="#!" class="waves-effect waves-nsp-red btn-flat-nsp track-action track-action-jumpto">
	<i class="small material-icons md-light option-jumpto">play_circle_outline</i>
	<i class="small material-icons md-light option-play" style="display:none;">play_circle_filled</i>
	<i class="small material-icons md-light option-pause" style="display:none;">pause_circle_filled</i>
      </a>
    </div>
  </div>
  <ul class="collection player-track-episodes" style="display:none;"></ul>
</li>
