
<li class="collection-item player-track nsp-list-item">
  <div class="valign-wrapper">
    <span class="track-title truncate-inline valign" style="width:75%"></span>
    <div class="secondary-content valign" style="display:inline;">
      <a href="#!" class="waves-effect waves-nsp-red btn-flat nsp-action track-action track-action-clear" style="margin: 0; padding: 0;">
	<i class="small material-icons md-light">clear_all</i>
      </a>
    </div>
  </div>
  <ul class="collection player-track-episodes" style="display:none;"></ul>
</li>
